mixin catalog-card(data)
  a.catalog-card(href=data.href)
    .catalog-card__image
      +img("content/catalog", data.image.src, data.image.format, data.image.width, data.image.height, data.image.alt)
    .catalog-card__info
      h2.catalog-card__title!=data.title
      dl.catalog-card__list
        .catalog-card__item
          dt.catalog-card__term Грузоподъемность:
          dd.catalog-card__definition!=data.carrying
        .catalog-card__item
          dt.catalog-card__term Глубина бурения:
          dd.catalog-card__definition!=data.depth
        .catalog-card__item
          dt.catalog-card__term Крутящий момент:
          dd.catalog-card__definition!=data.torque
      +btn({type: "button", text: "Подробнее"}).btn--border.catalog-card__button
